# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.jks
*.keystore

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store
